body {
    background-color: rgb(216, 20, 20);
  }

.schoogle #google_logo{
    text-align: center;
    padding-top: 112px;
    padding-bottom: 20px;
    display: block;
  
}

.form{
    text-align: center;
}

.footer-left{
    background-color: grey;
}
