body {
    background-color: white;
  }


.form{
    text-align: center;
}

.footer-left{
    background-color: grey;
}

header{
    padding-top: 10px;
    text-align: center; 
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

h1{
    padding-top: 100px;
    text-align: center;
}

.bigtext{
    font-size: 35px;
}

.form {
    text-align: center;
  }

#form-search { 
    width: 450px;
    line-height: 0px;
    padding: 5px 10px;
  }

.buttons {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 300px;
  }


#nav_bar {
    float: right;
  }
  
#nav_bar li {
    display: inline-block;
    padding: 8px;
  }
  
#nav_bar #sign_in {
    background: #4887ef; 
    margin-right: 25px;
    padding: 7px 15px;
    border-radius: 3px; 
    font-weight: bold;
  }
  
.nav-links {
    color: #404040;
  }
  
a {
    text-decoration: none;
    color: inherit;
  }
  
li.nav-links a:hover {
    text-decoration: underline;
  }
  
#sign_in:hover { 
    box-shadow: 1px 1px 5px #999;
  }
  
#sign_in {
    color: #fff;
  }

.blue{
    color: rgb(0, 89, 255);
}

.yellow{
    color: rgb(255, 217, 0);
}

.red{
    color: rgb(255, 17, 0);
}

.green{
    color: green;
}

footer{
    background: #f2f2f2;
    border-top: solid 2px #e4e4e4;
}

footer ul li {
    display: inline-block;
    color: #666666;
    font-size: 18px;
    padding: 5px;
}

.footer-right{
    background-right: rgb(216, 214, 214);
    text-align: right;
    margin: 1px;
}


